@import "null.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
	font-family: Lato;
	font-size: 16px;
	line-height: 160%;
}
a.page-1 {
	font-size: 30px;
	font-weight: 800;
	text-decoration: underline;
	color: blue;
}

.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}
.boold {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}
